body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Top nav */
nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    background-color: #333;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Layout */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* Content */
.content {
    padding: 20px;
    flex: 1;
}

section {
    margin-bottom: 40px;
}
p {
    line-height: 1.8; /* Sets spacing to 1.8 times the font size */
    margin-bottom: 20px; /* Optional: Adds extra space between paragraphs */
}
.content img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 8px;
}
figure {
    margin: 20px 0;
}

figcaption {
    font-size: 0.9em;
    color: #666;
    text-align: center;
}
.image-gallery img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.blog img {
    width: 100%;
    max-width: 400px;
    height: auto;
}